{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class='twcss-relative lg:twcss-flex-1 lg:twcss-mr-5'>
  <!-- Desktop Search Input (>=1280px) -->
  <div class='twcss-hidden lg:twcss-block'>
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class='twcss-block' data-loading-text='{{ 'accessibility.loading' | t }}'>
    {%- else -%}
      <search-form class='twcss-block'>
    {%- endif -%}
    <form action='{{ routes.search_url }}' method='get' role='search' class='twcss-relative'>
      <div class='twcss-relative'>
        <input
          class='twcss-w-full twcss-p-3 twcss-leading-4 twcss-rounded twcss-border twcss-text-accent-default twcss-bg-white focus:twcss-outline-none focus:twcss-ring-0 focus:twcss-ring-offset-0 [appearance:none] [&::-webkit-search-decoration]:twcss-hidden [&::-webkit-search-cancel-button]:twcss-hidden [&::-webkit-search-results-button]:twcss-hidden [&::-webkit-search-results-decoration]:twcss-hidden'
          id='{{ input_id }}-desktop'
          type='search'
          name='q'
          value='{{ search.terms | escape }}'
          placeholder='What can we help you find?'
          {%- if settings.predictive_search_enabled -%}
            role='combobox'
            aria-expanded='false'
            aria-owns='predictive-search-results'
            aria-controls='predictive-search-results'
            aria-haspopup='listbox'
            aria-autocomplete='list'
            autocorrect='off'
            autocomplete='off'
            autocapitalize='off'
            spellcheck='false'
          {%- endif -%}
        >
        <label class='twcss-sr-only' for='{{ input_id }}-desktop'>{{ 'general.search.search' | t }}</label>
        <input type='hidden' name='options[prefix]' value='last'>
        <button
          type='reset'
          class='twcss-absolute twcss-right-3 twcss-top-1/2 twcss-transform -twcss-translate-y-1/2 twcss-p-2 hover:twcss-scale-110 {% if search.terms == blank %} hidden{% endif %}'
          aria-label='{{ 'general.search.reset' | t }}'
        >
          <span class='twcss-size-6 twcss-text-accent-default twcss-block'>
            {{- 'icon-reset.svg' | inline_asset_content -}}
          </span>
        </button>
        <button
          class='twcss-absolute twcss-bg-secondary-default twcss-right-0 twcss-top-1/2 twcss-transform -twcss-translate-y-1/2 twcss-p-2 twcss-h-full twcss-rounded-r'
          aria-label='{{ 'general.search.search' | t }}'
        >
          <span class='twcss-size-6 twcss-text-white twcss-block'>
            {{- 'icon-search.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div
          class='twcss-absolute twcss-left-0 twcss-right-0 twcss-mt-1 twcss-bg-white twcss-rounded twcss-border twcss-border-primary-default twcss-text-accent-default predictive-search'
          tabindex='-1'
          data-predictive-search
        >
          {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
        </div>

        <span class='twcss-sr-only predictive-search-status' role='status' aria-hidden='true'></span>
      {%- endif -%}
    </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- else -%}
      </search-form>
    {%- endif -%}
  </div>

  <!-- Mobile Search Icon and Modal (<1280px) -->
  <div class='lg:twcss-hidden'>
    <details>
      <summary
        class='twcss-flex twcss-items-center twcss-cursor-pointer twcss-focus:outline-none twcss-focus:ring-2 twcss-focus:ring-offset-2'
        aria-haspopup='dialog'
        aria-label='{{ 'general.search.search' | t }}'
      >
        <span class='twcss-flex twcss-items-center'>
          <span class='twcss-size-6'>
            {{- 'icon-search.svg' | inline_asset_content -}}
          </span>
          <span class='twcss-size-6 twcss-hidden group-open:twcss-block'>
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </span>
      </summary>
      <div
        class='twcss-fixed twcss-z-10 twcss-inset-0 twcss-bg-gradient-to-b twcss-from-background'
        role='dialog'
        aria-modal='true'
        aria-label='{{ 'general.search.search' | t }}'
      >
        <div class='twcss-absolute twcss-inset-0 twcss-bg-black/50 !twcss-block modal-overlay'></div>
        <div class='twcss-relative twcss-w-full twcss-max-w-2xl twcss-mx-auto twcss-mt-20 twcss-p-4'>
          {%- if settings.predictive_search_enabled -%}
            <predictive-search class='twcss-block' data-loading-text='{{ 'accessibility.loading' | t }}'>
          {%- else -%}
            <search-form class='twcss-block'>
          {%- endif -%}
          <form action='{{ routes.search_url }}' method='get' role='search' class='twcss-relative'>
            <div class='twcss-relative'>
              <input
                class='twcss-w-full twcss-p-3 twcss-lead twcss-border twcss-rounded twcss-text-accent-default [appearance:none] [&::-webkit-search-decoration]:twcss-hidden [&::-webkit-search-cancel-button]:twcss-hidden [&::-webkit-search-results-button]:twcss-hidden [&::-webkit-search-results-decoration]:twcss-hidden'
                id='{{ input_id }}'
                type='search'
                name='q'
                value='{{ search.terms | escape }}'
                placeholder='What can we help you find?'
                {%- if settings.predictive_search_enabled -%}
                  role='combobox'
                  aria-expanded='false'
                  aria-owns='predictive-search-results'
                  aria-controls='predictive-search-results'
                  aria-haspopup='listbox'
                  aria-autocomplete='list'
                  autocorrect='off'
                  autocomplete='off'
                  autocapitalize='off'
                  spellcheck='false'
                {%- endif -%}
              >
              <label class='twcss-sr-only' for='{{ input_id }}'>{{ 'general.search.search' | t }}</label>
              <input type='hidden' name='options[prefix]' value='last'>
              <button
                type='reset'
                class='twcss-absolute twcss-right-3 twcss-top-1/2 twcss-transform -twcss-translate-y-1/2 twcss-p-2 hover:twcss-scale-110 {% if search.terms == blank %} hidden{% endif %}'
                aria-label='{{ 'general.search.reset' | t }}'
              >
                <span class='twcss-size-6 twcss-text-accent-default twcss-block'>
                  {{- 'icon-reset.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>

            {%- if settings.predictive_search_enabled -%}
              <div
                class='twcss-bg-white twcss-rounded twcss-border twcss-border-primary-default twcss-text-accent-default predictive-search'
                tabindex='-1'
                data-predictive-search
              >
                {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
              </div>

              <span class='twcss-sr-only predictive-search-status' role='status' aria-hidden='true'></span>
            {%- endif -%}
          </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- else -%}
            </search-form>
          {%- endif -%}
          <button
            type='button'
            class='search-modal__close-button modal__close-button link link--text focus-inset hidden'
            aria-label='{{ 'accessibility.close' | t }}'
          >
            <span class='svg-wrapper'>
              {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      </div>
    </details>
  </div>
</details-modal>
