{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

{% comment %} <details>
  <summary>Menu Links Debug</summary>
  {% for link in section.settings.menu.links %}
    Title: {{ link.title }}
    URL: {{ link.url }}
    
    ---
  {% endfor %}
</details> {% endcomment %}

{%- assign menu_icons = section.settings.menu_icons | default: '{}' | json -%}

<nav class='header__inline-menu'>
  <ul class='list-menu list-menu--inline' role='list'>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset">
          {%- if menu_icons[link.handle] != blank -%}
            <span class="menu-icon">
              {{ menu_icons[link.handle] | inline_asset_content }}
            </span>
          {%- endif -%}
          Handle: {{ link.handle }}
          <span>{{ link.title | escape }}</span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
