{%- assign wrapper_classes = 'twcss-flex twcss-items-baseline twcss-justify-between twcss-mb-6 '
  | append: wrapper_classes
-%}
{%- assign white_title_classes = 'twcss-text-2xl twcss-font-semibold ' | append: white_title_classes -%}
{%- assign blue_title_classes = 'twcss-text-2xl twcss-text-primary-foreground ' | append: blue_title_classes -%}
{%- assign link_classes = 'twcss-flex twcss-items-center twcss-text-sm twcss-text-blue-600 hover:twcss-text-blue-800 twcss-w-1/4 twcss-font-bold twcss-flex-row-reverse '
  | append: link_classes
-%}

<div class="{{ wrapper_classes }}">
  <h2 class="{{ white_title_classes }}">
    {{ white_title }}
    <span class="{{ blue_title_classes }}">{{ blue_title }}</span>
  </h2>
  {% if link_url %}
    <a
      href="{{ link_url }}"
      class="{{ link_classes }}"
    >
      <span class="twcss-order-2">{{ link_text }}</span>
      <span class="twcss-order-1">{% render 'icon-chevron-right' %}</span>
    </a>
  {% endif %}
</div>
