{%- assign wrapper_classes = wrapper_classes
  | default: 'twcss-flex twcss-items-baseline twcss-justify-between twcss-mb-6'
-%}
{%- assign white_title_classes = white_title_classes | default: 'twcss-text-2xl twcss-font-semibold' -%}
{%- assign blue_title_classes = blue_title_classes | default: 'twcss-text-2xl twcss-text-blue-500' -%}
{%- assign link_classes = link_classes
  | default: 'twcss-flex twcss-items-center twcss-text-sm twcss-text-blue-600 hover:twcss-text-blue-800 twcss-w-1/4 twcss-flex-row-reverse'
-%}

<div class="{{ wrapper_classes }}">
  <h2 class="{{ white_title_classes }}">
    {{ white_title }}
    <span class="{{ blue_title_classes }}">{{ blue_title }}</span>
  </h2>
  {% if link_url %}
    <a
      href="{{ link_url }}"
      class="{{ link_classes }}"
    >
      <span class="twcss-order-2">{{ link_text }}</span>
      <span class="twcss-order-1">{% render 'icon-chevron-right' %}</span>
    </a>
  {% endif %}
</div>
