<!-- Middle Section - Pagination -->
<div class='twcss-flex twcss-items-center twcss-gap-4'>
  {% if show_per_page %}
    <div class='twcss-flex twcss-items-center twcss-gap-2'>
      <div class='twcss-relative'>
        <select
          class='twcss-appearance-none twcss-w-[100px] twcss-h-[40px] twcss-pl-3 twcss-pr-8 twcss-text-[14px] twcss-text-gray-600 twcss-bg-white twcss-border twcss-border-gray-300 twcss-rounded hover:twcss-border-gray-400 focus:twcss-outline-none focus:twcss-ring-1 focus:twcss-ring-gray-400'
          onchange='window.location.href = this.value;'
        >
          <option value='' disabled>Per page:</option>
          {% for option in per_page_options %}
            <option
              value='{{ paginate.page_link }}?view={{ paginate.view }}&per_page={{ option }}'
              {% if paginate.page_size == option %}
                selected
              {% endif %}
            >
              {{ option }}
            </option>
          {% endfor %}
        </select>
        <div class='twcss-pointer-events-none twcss-absolute twcss-inset-y-0 twcss-right-0 twcss-flex twcss-items-center twcss-px-2'>
          <svg class='twcss-h-4 twcss-w-4 twcss-text-gray-400' fill='none' stroke='currentColor' viewBox='0 0 24 24'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'></path>
          </svg>
        </div>
      </div>
    </div>
  {% endif %}

  <span class='twcss-text-gray-600 twcss-text-[14px]'>
    <span class='twcss-font-bold twcss-text-[14px]'>
      {{- paginate.current_offset | plus: 1 }}-
      {{- paginate.current_offset | plus: paginate.page_size | at_most: paginate.items -}}
    </span>
    of <span class='twcss-font-bold twcss-text-[14px]'>{{ paginate.items }}</span> Records
  </span>
  <div class='twcss-flex twcss-items-center twcss-gap-2'>
    {% if paginate.current_page > 1 %}
      <a
        href='{{ paginate.previous.url }}'
        class='twcss-flex twcss-h-11 twcss-items-center twcss-px-3 twcss-py-1 twcss-gap-2 twcss-text-gray-600 twcss-bg-white twcss-border twcss-border-gray-300 twcss-rounded hover:twcss-bg-gray-50'
      >
        {% render 'icon-chevron-left' %}
        <span class='twcss-text-[14px] twcss-font-bold'>Prev</span>
      </a>
    {% else %}
      <button
        disabled
        class='twcss-flex twcss-h-11 twcss-items-center twcss-px-3 twcss-py-1 twcss-gap-2 twcss-text-gray-400 twcss-bg-gray-100 twcss-border twcss-border-gray-300 twcss-rounded'
      >
        {% render 'icon-chevron-left' %}
        <span class='twcss-text-[14px] twcss-font-bold'>Prev</span>
      </button>
    {% endif %}

    <span class='twcss-text-gray-600'> {{ paginate.current_page }} of {{ paginate.pages }} </span>

    {% if paginate.next %}
      <a
        href='{{ paginate.next.url }}'
        class='twcss-flex twcss-items-center twcss-h-11 twcss-px-3 twcss-py-1 twcss-gap-2 twcss-text-gray-600 twcss-bg-white twcss-border twcss-border-gray-300 twcss-rounded hover:twcss-bg-gray-50'
      >
        <span class='twcss-text-[14px] twcss-font-bold'>Next</span>
        {% render 'icon-chevron-right', class: 'twcss-h-6 twcss-w-6' %}
      </a>
    {% else %}
      <button
        disabled
        class='twcss-flex twcss-items-center twcss-h-11 twcss-px-3 twcss-py-1 twcss-gap-2 twcss-text-gray-400 twcss-bg-gray-100 twcss-border twcss-border-gray-300 twcss-rounded'
      >
        <span class='twcss-text-[14px] twcss-font-bold'>Next</span>
        {% render 'icon-chevron-right' %}
      </button>
    {% endif %}
  </div>
</div>
