<facet-filters-form class="facets facets-vertical-sort page-width small-hide">
  <form class="" id="FacetSortForm">
    <div class="twcss-flex twcss-gap-4">
      <div class="twcss-flex twcss-gap-[10px]">
        <div>{{ 'products.facets.sort_by_label' | t }}</div>
        <div class="select">
          {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
          <select
            name="sort_by"
            class="facet-filters__sort select__select caption-large"
            id="SortBy"
            aria-describedby="a11y-refresh-page-message"
          >
            {%- for option in collection.sort_options -%}
              <option
                value="{{ option.value | escape }}"
                {% if option.value == sort_by %}
                  selected="selected"
                {% endif %}
              >
                {{ option.name | escape }}
              </option>
            {%- endfor -%}
          </select>
          <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
      <div>64 total records</div>
    </div>

    <div class="twcss-flex twcss-gap-4">
      <div class="product-count-vertical light" role="status">
        <h2 class="product-count__text text-body">
          <span id="ProductCountDesktop">
            {%- if collection.results_count -%}
              {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
            {%- elsif collection.products_count == collection.all_products_count -%}
              {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
            {%- else -%}
              {{
                'products.facets.product_count'
                | t: product_count: collection.products_count, count: collection.all_products_count
              }}
            {%- endif -%}
          </span>
        </h2>
        {%- render 'loading-spinner' -%}
      </div>
      {% render 'pagination', paginate: paginate, anchor: '' %}
    </div>
  </form>
</facet-filters-form>
