{% comment %}
  Parameter Description:
  - product: Product object
  - show_vendor: Whether to display vendor (optional)
  - class: Additional CSS classes (optional)
  - show_new_tag: Whether to display new product tag (optional)
  - card_type: 'list' or 'grid' (optional), defaults to 'grid'
  - enable_compare: Whether to enable compare checkbox (optional), defaults to false
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="{{ class | default: '' }} twcss-bg-[#f8f8f8] twcss-border twcss-border-[#EBEBEB] twcss-rounded-md twcss-w-full twcss-h-full twcss-flex {% if card_type == 'list' %}twcss-flex-row twcss-p-[0.625rem] md:twcss-p-0{% else %}twcss-flex-col{% endif %}">
  <div class="{% if card_type == 'list' %}twcss-w-28 twcss-h-28 md:twcss-w-52 md:twcss-h-52 twcss-mr-3 md:twcss-mr-0 twcss-border md:twcss-border-0 md:twcss-border-r{% else %}twcss-h-52 twcss-border-b{% endif %}  twcss-bg-white twcss-border-[#EBEBEB] twcss-flex-shrink-0">
    <a href="{{ product.url }}" class="twcss-block twcss-h-full">
      <img
        src="{{ product.featured_image | img_url: '240x240', crop: 'center' }}"
        alt="{{ product.title }}"
        class="twcss-object-contain twcss-w-full twcss-h-full"
        loading="lazy"
        width="240"
        height="240"
      >
    </a>
  </div>

  {% comment %} Product Info {% endcomment %}
  <div class="twcss-flex twcss-flex-col twcss-justify-between twcss-rounded-bl-md twcss-rounded-br-md  {% if card_type == 'list' %} md:twcss-w-1/2 md:twcss-p-5{% else %}twcss-p-[0.5rem_0.75rem_0.75rem] twcss-flex-1{% endif %}">
    <div class="twcss-flex twcss-flex-col twcss-flex-1 twcss-mb-2">
      <div class="twcss-flex twcss-justify-between twcss-flex-col">
        <div class="twcss-text-[#84888B] twcss-text-xs twcss-font-bold">
          {{ product.vendor }}
        </div>

        <a
          href="{{ product.url }}"
          class="twcss-text-base twcss-font-bold twcss-line-clamp-2 twcss-text-[#353535] twcss-overflow-hidden twcss-text-ellipsis twcss-leading-5"
          alt="{{ product.title }}"
        >
          {{ product.title }}
        </a>
        <p alt="{{ product.price | money }}" class="twcss-text-sm twcss-mt-0 twcss-block md:twcss-hidden">
          Price:
          <span class="twcss-font-bold twcss-mx-1 twcss-text-lg">{{ product.price | money }}</span>
          / each
        </p>
      </div>

      {% if show_new_tag %}
        {% assign current_time = 'now' | date: '%s' %}
        {% assign published_time = product.published_at | date: '%s' %}
        {% assign days_since_published = current_time | minus: published_time | divided_by: 86400 %}
        <div
          class="twcss-w-fit twcss-bg-blue-500 twcss-text-white twcss-px-2 twcss-py-0.5 twcss-text-xs twcss-rounded-xl twcss-my-1"
          style="opacity: {%- if days_since_published <= 30 -%}1{%- else -%}0{%- endif -%}"
        >
          New
        </div>
      {% endif %}

      <div class="twcss-space-y-0 twcss-text-xs twcss-text-[#353535]">
        <p class="twcss-mt-0">
          Customer Partner Number <span class="twcss-text-[#84888B]">{{ product.id }}</span>
        </p>
        <p class="twcss-mt-0">
          Supplier Product # <span class="twcss-text-[#84888B]">{{ product.metafields.custom.supplier_id }}</span>
        </p>
        <p class="twcss-mt-0">
          Supplier: <span class="twcss-text-[#84888B]">{{ product.vendor }}</span>
        </p>
      </div>
    </div>

    {%- liquid
      assign cart_class_list = card_type
      if cart_class_list == 'list'
        assign cart_class_list = 'twcss-block md:twcss-hidden'
      else
        assign cart_class_list = ''
      endif

      assign compare_class_list = card_type
      if compare_class_list == 'list'
        assign compare_class_list = 'twcss-block md:twcss-hidden'
      else
        assign compare_class_list = ''
      endif
    -%}

    {% if enable_compare %}
      {% render 'product-card-compare', product: product, compare_class: compare_class_list, card_type: card_type %}
    {% endif %}

    {% render 'product-card-add-to-cart-button', product: product, cart_class: cart_class_list %}
  </div>

  {% if card_type == 'list' %}
    {% comment %} Add to Cart Button {% endcomment %}

    <div class="twcss-flex-col twcss-mb-2 twcss-flex-1 twcss-p-8 twcss-space-y-5 twcss-hidden md:twcss-flex">
      <p alt="{{ product.price | money }}" class="twcss-text-sm twcss-mt-0 twcss-hidden md:twcss-block ">
        Price:
        <span class="twcss-font-bold twcss-mx-1 twcss-text-lg">{{ product.price | money }}</span>
        / each
      </p>

      {% if enable_compare %}
        {% render 'product-card-compare', product: product, compare_class: 'twcss-mb-0', card_type: card_type %}
      {% endif %}

      {% render 'product-card-add-to-cart-button', product: product %}
    </div>
  {% endif %}
</div>
