{% comment %}
  Parameters:
  - product: The product object (required)
  - card_type: The card type (required)
{% endcomment %}

{%- liquid
  assign compare_class = 'twcss-inline-flex twcss-items-center twcss-my-1 twcss-mb-3 twcss-ml-1 ' | append: compare_class
-%}

<div class="{{ compare_class }}">
  <input
    type="checkbox"
    id="compare-{{ product.id }}"
    name="compare"
    value="{{ product.id }}"
    class="compare-checkbox twcss-mr-1 twcss-scale-[1.8]"
  >
  {% if card_type == 'list' %}
    <label for="compare-{{ product.id }}" class="twcss-text-sm twcss-cursor-pointer twcss-block md:twcss-hidden">
      Compare
    </label>
    <label for="compare-{{ product.id }}" class="twcss-text-sm twcss-cursor-pointer twcss-hidden md:twcss-block">
      Select Item
    </label>
  {% else %}
    <label for="compare-{{ product.id }}" class="twcss-text-sm twcss-cursor-pointer"> Compare </label>
  {% endif %}
</div>
