{% comment %}
  参数说明:
  - product: 产品对象
  - show_vendor: 是否显示供应商 (可选)
  - class: 额外的 CSS 类 (可选)
  - show_new_tag: 是否显示新品标签 (可选)
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .homepage-product-card-button.loading {
    color: transparent;
    position: relative;
  }

  @media screen and (forced-colors: active) {
    .homepage-product-card-button.loading {
      color: rgb(var(--color-foreground));
    }
  }

  .homepage-product-card-button.loading > .loading__spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .homepage-product-card-button.loading > .loading__spinner .spinner {
    width: fit-content;
  }

  .homepage-product-card-button.loading > .loading__spinner .path {
    stroke: rgb(var(--color-button-text));
  }
{%- endstyle -%}

<div class="{{ class | default: '' }} twcss-bg-white twcss-border twcss-border-[#EBEBEB] twcss-rounded-md twcss-w-full twcss-h-full twcss-flex twcss-flex-col">
  <div class="twcss-h-52 twcss-w-full twcss-shadow-sm twcss-border-b twcss-border-[#EBEBEB]">
    <a href="{{ product.url }}" class="twcss-block twcss-w-full twcss-h-full">
      <img
        src="{{ product.featured_image | img_url: '240x240', crop: 'center' }}"
        alt="{{ product.title }}"
        class="twcss-object-contain twcss-w-full twcss-h-full"
        loading="lazy"
        width="240"
        height="240"
      >
    </a>
  </div>

  <div class="twcss-flex twcss-flex-col twcss-bg-[#f8f8f8] twcss-p-4 twcss-flex-1 twcss-justify-between twcss-rounded-bl-md twcss-rounded-br-md">
    {% comment %} Product Info {% endcomment %}

    <div class="twcss-flex twcss-flex-col twcss-flex-1 twcss-space-y-1 twcss-mb-4">
      <div class="twcss-flex twcss-justify-between twcss-flex-col">
        <div class="twcss-text-[#84888B] twcss-text-xs twcss-font-bold">
          {{ product.vendor }}
        </div>

        <a
          href="{{ product.url }}"
          class="twcss-text-base twcss-font-bold twcss-line-clamp-2 twcss-text-[#353535] twcss-overflow-hidden twcss-text-ellipsis"
          alt="{{ product.title }}"
        >
          {{ product.title }}
        </a>
        <p alt="{{ product.price | money }}" class="twcss-text-sm twcss-mt-0">
          Price:
          <span class="twcss-font-bold twcss-mx-1 twcss-text-lg">{{ product.price | money }}</span>
          /each
        </p>
      </div>

      {% if show_new_tag %}
        {% assign current_time = 'now' | date: '%s' %}
        {% assign published_time = product.published_at | date: '%s' %}
        {% assign days_since_published = current_time | minus: published_time | divided_by: 86400 %}
        <div
          class="twcss-w-fit twcss-bg-blue-500 twcss-text-white twcss-px-2 twcss-py-0.5 twcss-text-xs twcss-rounded-xl twcss-mb-2"
          style="opacity: {%- if days_since_published <= 30 -%}1{%- else -%}0{%- endif -%}"
        >
          New
        </div>
      {% endif %}

      <div class="twcss-space-y-0 twcss-text-xs twcss-text-[#353535]">
        <p class="twcss-mt-0">
          Customer Product # <span class="twcss-text-[#84888B]">{{ product.id }}</span>
        </p>
        <p class="twcss-mt-0">
          Supplier Product # <span class="twcss-text-[#84888B]">{{ product.metafields.custom.supplier_id }}</span>
        </p>
        <p class="twcss-mt-0">
          Supplier: <span class="twcss-text-[#84888B]">{{ product.vendor }}</span>
        </p>
      </div>
    </div>

    {% comment %} Add to Cart {% endcomment %}
    <div
      class="
        twcss-flex twcss-items-center twcss-justify-center
        twcss-relative twcss-w-full
      "
    >
      <product-form class="twcss-flex-1">
        <div class="product-form__error-message-wrapper" role="alert" hidden>
          <span class="product-form__error-message"></span>
        </div>

        <form
          method="post"
          action="/cart/add"
          id="product-form-{{ product.id }}"
          accept-charset="UTF-8"
          class="twcss-flex-1"
          enctype="multipart/form-data"
          novalidate="novalidate"
          data-type="add-to-cart-form"
        >
          <input type="hidden" name="form_type" value="product">
          <input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <input type="hidden" name="quantity" value="1">

          <button
            type="submit"
            name="add"
            class="homepage-product-card-button twcss-bg-orange-500 twcss-flex twcss-items-center twcss-justify-center hover:twcss-bg-orange-600 twcss-text-white twcss-text-sm twcss-px-4 twcss-py-2 twcss-rounded-tl-md twcss-rounded-bl-md twcss-w-full twcss-font-bold twcss-relative"
            {% unless product.available %}
              disabled
            {% endunless %}
          >
            <span>
              {%- if product.available -%}
                Add to Cart
              {%- else -%}
                Sold out
              {%- endif -%}
            </span>
            {% render 'loading-spinner' %}
          </button>
        </form>
      </product-form>

      <div class="twcss-w-[20%] twcss-h-full twcss-flex twcss-items-center twcss-justify-center twcss-border-l-[0.5px] twcss-border-white twcss-bg-orange-500 hover:twcss-bg-orange-600 twcss-text-white twcss-rounded-tr-md twcss-rounded-br-md">
        {% render 'icon-chevron-down' %}
      </div>
    </div>
  </div>
</div>
