<div
  class='twcss-w-full twcss-bg-gradient-to-r {% if section.settings.show_line_separator %} twcss-border-b twcss-border-current twcss-border-opacity-10{% endif %}'
  style='background: {{ section.settings.color_scheme }}'
  {{ block.shopify_attributes }}
>
  <div class='twcss-bg-primary-foreground twcss-text-white twcss-px-10 twcss-py-3'>
    <div class='twcss-flex twcss-items-center twcss-justify-between twcss-flex-col lg:twcss-flex-row twcss-gap-y-4 lg:twcss-gap-y-0'>
      <div>
        <a href='{{ routes.root_url }}' class='twcss-flex twcss-items-center twcss-justify-center'>
          {%- if settings.logo != blank -%}
            <div class='header__heading-logo-wrapper'>
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: '',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            <span class=''>{{ shop.name }}</span>
          {%- endif -%}
        </a>
        {% if section.settings.show_company_location %}
          {% if customer %}
            {% render 'header-company-location', customer: customer %}
          {% endif %}
        {% endif %}
      </div>
      {% if section.settings.menu != blank %}
        {%- if section.settings.menu_type == 'dropdown' -%}
          {% render 'header-dropdown-menu', menu: section.settings.menu, menu_icons: section.settings.menu_icons %}
        {%- elsif section.settings.menu_type == 'mega' -%}
          {% render 'header-mega-menu', menu: section.settings.menu, menu_icons: section.settings.menu_icons %}
        {%- endif -%}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "show_company_location",
      "default": true,
      "label": "Show Company Location",
      "info": "Show the customer's company and location information"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "text",
      "id": "menu_icons",
      "label": "Menu Icons (JSON)",
      "info": "Add menu icons in JSON format. Example: {\"menu-item-handle\":\"icon-name.svg\"}"
    },
    {
      "type": "select",
      "id": "menu_type",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "mega",
          "label": "Mega Menu"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "dropdown",
      "label": "Menu Type",
      "info": "Choose how the menu should be displayed"
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name"
    }
  ]
}
{% endschema %}
