<div class="banner-slider swiper" id="banner-slider">
  <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
      <div class="swiper-slide twcss-relative twcss-h-[400px] md:twcss-h-[600px]" {{ block.shopify_attributes }}>
        <div class="twcss-w-full twcss-h-full">
          {%- if block.settings.image_mobile != blank or block.settings.image_desktop != blank -%}
            <img
              height="100"
              width="100"
              src="{{ block.settings.image_mobile | img_url: 'master' }}"
              class="md:twcss-hidden twcss-w-full twcss-h-full twcss-object-cover"
              alt="{{ block.settings.heading | escape }}"
              loading="lazy"
            >
            <img
              height="100"
              width="100"
              src="{{ block.settings.image_desktop | img_url: 'master' }}"
              class="twcss-hidden md:twcss-block twcss-w-full twcss-h-full twcss-object-cover"
              alt="{{ block.settings.heading | escape }}"
              loading="lazy"
            >
          {%- else -%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'twcss-w-full twcss-h-full twcss-object-cover' }}
          {%- endif -%}
        </div>

        <!--
          <div
            class="twcss-absolute twcss-top-0 twcss-left-0 twcss-w-full md:twcss-w-3/5 twcss-h-full twcss-bg-gradient-to-r md:twcss-bg-gradient-to-br twcss-from-blue-600/90 twcss-to-blue-600/70 md:twcss-to-blue-600/0"
          ></div>
        -->

        <div class="twcss-absolute twcss-top-[50%] twcss-translate-y-[-50%] twcss-left-[50%] twcss-translate-x-[-50%] twcss-pl-[60px] lg:twcss-w-[1280px] twcss-w-full">
          <div
            id="swiper-button-prev-banner"
            class="swiper-button-prev !twcss-bg-white !twcss-w-[40px] !twcss-h-[40px] twcss-rounded-full twcss-shadow-lg md:!twcss-flex !twcss-text-black after:!twcss-content-['']  !twcss-left-0"
          >
            {% render 'icon-chevron-left' %}
          </div>
          <div class="twcss-w-[263px] lg:twcss-w-[435px]">
            {%- if block.settings.heading != blank -%}
              <h2 class="twcss-text-2xl md:twcss-text-4xl twcss-font-black twcss-text-white">
                {{ block.settings.heading }}
              </h2>
            {%- endif -%}

            {%- if block.settings.subheading != blank -%}
              <p class="twcss-text-lg md:twcss-text-xl twcss-text-orange-400 twcss-mb-3 twcss-font-bold">
                {{ block.settings.subheading }}
              </p>
            {%- endif -%}

            {%- if block.settings.button_text != blank and block.settings.button_link != blank -%}
              <a
                href="{{ block.settings.button_link }}"
                class="twcss-inline-flex twcss-items-center twcss-text-white hover:twcss-text-orange-400 twcss-transition-colors"
              >
                {{ block.settings.button_text }}
                {% render 'icon-chevron-right' %}
              </a>
            {%- endif -%}
          </div>
          <div
            id="swiper-button-next-banner"
            class="swiper-button-next !twcss-bg-white !twcss-w-[40px] !twcss-h-[40px] twcss-rounded-full twcss-shadow-lg md:!twcss-flex !twcss-text-black after:!twcss-content-['']  !twcss-right-0"
          >
            {% render 'icon-chevron-right' %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>

  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper('#banner-slider', {
      loop: true,
      effect: 'fade',
      fadeEffect: {
        crossFade: true
      },
      // autoplay: {
      //   delay: 5000,
      //   disableOnInteraction: false
      // },
      pagination: {
        el: '#swiper-pagination-banner',
        clickable: true
      },
      navigation: {
        nextEl: '#swiper-button-next-banner',
        prevEl: '#swiper-button-prev-banner'
      }
    });
  });
</script>

{% schema %}
{
  "name": "Banner Slider",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image (768px and below)"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Desktop Image (above 768px)"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SEAMLESS MANUFACTURING"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Reliable Distribution"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "See more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
