<section class="twcss-w-[var(--page-width)] md:twcss-max-w-7xl twcss-max-w-screen-sm twcss-mx-auto twcss-px-4 twcss-py-10">
  {% render 'homepage-title', white_title: section.settings.white_title, blue_title: section.settings.blue_title %}

  <div class="twcss-flex twcss-flex-row twcss-justify-between twcss-gap-x-6 twcss-items-stretch twcss-mt-8">
    {% for block in section.blocks %}
      <div class="twcss-flex twcss-flex-col twcss-items-center twcss-text-center twcss-flex-1 {% if forloop.index > 2 %} twcss-hidden md:!twcss-flex  {% endif %}">
        <div class="twcss-w-full twcss-aspect-square twcss-overflow-hidden twcss-rounded-lg twcss-mb-4 twcss-bg-[#EEF5FF] twcss-flex twcss-justify-center twcss-items-center">
          <img
            src="{{ block.settings.image | img_url: '400x400', crop: 'center' }}"
            alt="{{ block.settings.title }}"
            class=" twcss-object-cover !twcss-w-[85%] !twcss-h-[85%]"
            loading="lazy"
            width="100%"
            height="100%"
          >
        </div>
        <div class="twcss-text-lg twcss-font-bold">{{ block.settings.title }}</div>
      </div>
    {% endfor %}
  </div>

  <div class="twcss-mt-8 twcss-flex twcss-flex-col md:twcss-flex-row twcss-justify-center twcss-items-center">
    <div class="twcss-hidden md:twcss-block twcss-flex-1">
      <img
        src="{{ section.settings.desktop_banner | img_url: "640px" }}"
        alt="{{ section.settings.banner_title }}"
        class="twcss-w-full twcss-rounded-lg"
        loading="lazy"
        width="100%"
        height="100%"
      >
    </div>
    <div class="md:twcss-hidden twcss-flex-1">
      <img
        src="{{ section.settings.mobile_banner | img_url: "320px" }}"
        alt="{{ section.settings.banner_title }}"
        class="twcss-w-full twcss-rounded-lg"
        loading="lazy"
        width="100%"
        height="100%"
      >
    </div>
    <div class="twcss-inset-0 twcss-flex twcss-flex-col twcss-justify-center twcss-px-4 md:twcss-px-8">
      <h2 class="twcss-text-[#FF6B00] twcss-text-2xl md:twcss-text-3xl twcss-font-bold">
        {{ section.settings.banner_title }}
      </h2>
      <p class="twcss-text-gray-700 twcss-mt-2 twcss-text-sm md:twcss-text-base">
        {{ section.settings.banner_description }}
      </p>
      <a
        href="{{ section.settings.banner_link }}"
        class="twcss-text-blue-600 twcss-mt-4 twcss-flex twcss-items-center twcss-gap-2"
      >
        {{ section.settings.banner_link_text }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="twcss-h-4 twcss-w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Distribution Solutions",
  "settings": [
    {
      "type": "text",
      "id": "white_title",
      "label": "White Title",
      "default": "Distribution"
    },
    {
      "type": "text",
      "id": "blue_title",
      "label": "Blue Title",
      "default": "Solutions"
    },
    {
      "type": "image_picker",
      "id": "desktop_banner",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner",
      "label": "Mobile Banner Image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title",
      "default": "Redefining Efficiency in Manufacturing and Distribution"
    },
    {
      "type": "text",
      "id": "banner_description",
      "label": "Banner Description",
      "default": "Streamlining processes with innovative solutions, NEXAFLOW, empowering businesses to meet customer demands with precision and reliability."
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    },
    {
      "type": "text",
      "id": "banner_link_text",
      "label": "Banner Link Text",
      "default": "See more"
    }
  ],
  "blocks": [
    {
      "type": "solution",
      "name": "Solution",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Solution Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Solution Title",
          "default": "Solution Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Distribution Solutions",
      "blocks": [
        {
          "type": "solution",
          "settings": {
            "title": "Freight Transport Solutions"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Warehouse and Distribution Solutions"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Last-Mile Logistics"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Cold Chain Solutions"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Intermodal Transport Services"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Real-Time Tracking and Monitoring"
          }
        },
        {
          "type": "solution",
          "settings": {
            "title": "Green Transportation Initiatives"
          }
        }
      ]
    }
  ]
}
{% endschema %}
