{%- style -%}
  .swiper-pagination-bullet-active {
    background: {{ section.settings.active_dot_color }};
  }
{%- endstyle -%}

<div class='twcss-mx-auto twcss-my-8 lg:twcss-my-[50px] twcss-px-5 lg:twcss-px-6 xlg:!twcss-max-w-[1280px] lg:!twcss-max-w-[1232px] xlg:!twcss-p-0 !twcss-pb-8 {% if customer.current_location.shipping_address.address1 == blank %}twcss-hidden{% endif %}'>
  {% render 'homepage-title', white_title: '', blue_title: '', wrapper_classes: '!twcss-mb-[10px]' %}

  <div
    id='swiper-button-prev-brand'
    class='twcss-size-6'
  >
    {% render 'icon-chevron-left' %}
  </div>
  <div
    id='swiper-button-next-brand'
    class='twcss-size-6'
  >
    {% render 'icon-chevron-right' %}
  </div>

  <div class='twcss-relative'>
    <div id='carousel-swiper' class='swiper carousel-swiper !twcss-static'>
      <div class='swiper-wrapper twcss-gap-6'>
        {%- for block in section.blocks -%}
          <div
            class='swiper-slide twcss-flex-col twcss-justify-around !twcss-w-[90px] !twcss-h-[116px] !twcss-flex twcss-items-center lg:!twcss-w-[139px] !twcss-mr-0 {%- if block.settings.link != blank -%}twcss-cursor-pointer{%- endif -%}'
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.link != blank -%}
              <a href='{{ block.settings.link }}' class='twcss-block'>
            {%- endif -%}
            <img
              width='200'
              height='90'
              src='{{ block.settings.logo | img_url: 'medium' }}'
              alt='{{ block.settings.name }}'
              loading='lazy'
              class='twcss-max-h-16 twcss-w-auto twcss-mx-auto twcss-object-contain'
            >
            {%- if block.settings.name != blank -%}
              <div class='twcss-text-center'>{{ block.settings.name }}</div>
            {%- endif -%}
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#carousel-swiper', {
      slidesPerView: 3,
      spaceBetween: 20,
      loop: false,
      pagination: {
        el: '#swiper-pagination-brand',
        clickable: true,
      },
      navigation: {
        nextEl: '#swiper-button-next-brand',
        prevEl: '#swiper-button-prev-brand',
      },
      breakpoints: {
        1280: {
          slidesPerView: 8,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Featured Carousel",
  "settings": [
    {
      "type": "text",
      "id": "white_title",
      "label": "White Title",
      "default": "Featured"
    },
    {
      "type": "text",
      "id": "blue_title",
      "label": "Blue Title",
      "default": "Products"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "color",
      "id": "active_dot_color",
      "label": "Active Dot Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Carousel",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
