{%- style -%}
  .swiper-pagination-bullet-active {
    background: {{ section.settings.active_dot_color }};
  }
{%- endstyle -%}

<div class='twcss-mx-auto twcss-my-8 lg:twcss-my-[50px] twcss-px-5 lg:twcss-px-6 xlg:!twcss-max-w-[1280px] lg:!twcss-max-w-[1232px] xlg:!twcss-p-0 !twcss-pb-8 {% if customer.current_location.shipping_address.address1 == blank %}twcss-hidden{% endif %}'>
  <h2 class='twcss-text-2xl twcss-font-bold twcss-mb-6'>Shop by brand</h2>

  <div class='twcss-relative'>
    <div id='carousel-swiper' class='swiper carousel-swiper !twcss-static'>
      <div class='swiper-wrapper twcss-gap-6'>
        {%- for block in section.blocks -%}
          <div
            class='swiper-slide !twcss-w-[200px] !twcss-h-[120px] !twcss-mr-6 twcss-bg-[#f8f8f8] twcss-rounded-lg twcss-overflow-hidden twcss-flex twcss-items-center twcss-justify-center twcss-border twcss-border-gray-200 {%- if block.settings.link != blank -%}twcss-cursor-pointer hover:twcss-shadow-md twcss-transition-shadow{%- endif -%}'
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.link != blank -%}
              <a
                href='{{ block.settings.link }}'
                class='twcss-w-full twcss-h-full twcss-flex twcss-items-center twcss-justify-center twcss-p-4'
              >
            {%- endif -%}
            <img
              src='{{ block.settings.logo | image_url: width: 300 }}'
              width='160'
              height='80'
              alt='{{ block.settings.name }}'
              loading='lazy'
              class='twcss-max-w-[160px] twcss-max-h-[80px] twcss-w-auto twcss-object-contain'
            >
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
      <div
        id='swiper-button-prev-brand'
        class="swiper-button-prev !twcss-bg-white !twcss-w-8 !twcss-h-8 twcss-rounded-full twcss-shadow-md md:!twcss-flex !twcss-text-black after:!twcss-content-[''] !twcss-left-[-12px] twcss-border twcss-border-gray-100"
      >
        {% render 'icon-chevron-left' %}
      </div>
      <div
        id='swiper-button-next-brand'
        class="swiper-button-next !twcss-bg-white !twcss-w-8 !twcss-h-8 twcss-rounded-full twcss-shadow-md md:!twcss-flex !twcss-text-black after:!twcss-content-[''] !twcss-right-[-12px] twcss-border twcss-border-gray-100"
      >
        {% render 'icon-chevron-right' %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#carousel-swiper', {
      slidesPerView: 'auto',
      spaceBetween: 24,
      loop: false,
      navigation: {
        nextEl: '#swiper-button-next-brand',
        prevEl: '#swiper-button-prev-brand',
      },
      breakpoints: {
        1280: {
          slidesPerView: 6,
          spaceBetween: 24,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Featured Carousel",
  "settings": [
    {
      "type": "text",
      "id": "white_title",
      "label": "White Title",
      "default": "Featured"
    },
    {
      "type": "text",
      "id": "blue_title",
      "label": "Blue Title",
      "default": "Products"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "color",
      "id": "active_dot_color",
      "label": "Active Dot Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Carousel",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
