{%- style -%}
  .swiper-pagination-bullet-active {
    background: {{ section.settings.active_dot_color }};
  }
{%- endstyle -%}

<div class="twcss-container twcss-mx-auto twcss-my-8 lg:twcss-my-[50px] twcss-px-4 twcss-py-8 xlg:!twcss-max-w-[1280px] lg:!twcss-max-w-[1232px] lg:!twcss-p-0 twcss-px-5 !twcss-py-0 !twcss-pb-8">
  {% render 'homepage-title', white_title: 'Featured', blue_title: 'Brands', wrapper_classes: '!twcss-mb-[10px]' %}

  <div class="twcss-relative">
    <div id="brands-swiper" class="swiper brands-swiper !twcss-static">
      <div class="swiper-wrapper twcss-gap-6">
        {%- for block in section.blocks -%}
          <div
            class="swiper-slide !twcss-w-[90px] !twcss-h-[116px] !twcss-flex twcss-items-center lg:!twcss-w-[139px] !twcss-mr-0"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.brand_link != blank -%}
              <a href="{{ block.settings.brand_link }}" class="twcss-block">
            {%- endif -%}
            <img
              width="90"
              height="90"
              src="{{ block.settings.brand_logo | img_url: 'medium' }}"
              alt="{{ block.settings.brand_name }}"
              loading="lazy"
              class="twcss-max-h-16 twcss-w-auto twcss-mx-auto twcss-object-contain"
            >
            {%- if block.settings.brand_link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
      <div
        id="swiper-button-prev-brand"
        class="swiper-button-prev !twcss-bg-white !twcss-w-10 !twcss-h-10 twcss-rounded-full twcss-shadow-lg md:!twcss-flex !twcss-text-black after:!twcss-content-['']  !twcss-left-[-16px]"
      >
        {% render 'icon-chevron-left' %}
      </div>
      <div
        id="swiper-button-next-brand"
        class="swiper-button-next !twcss-bg-white !twcss-w-10 !twcss-h-10 twcss-rounded-full twcss-shadow-lg md:!twcss-flex !twcss-text-black after:!twcss-content-['']  !twcss-right-[-16px]"
      >
        {% render 'icon-chevron-right' %}
      </div>
      <div id="swiper-pagination-brand" class="swiper-pagination !twcss-top-[116px]"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper('#brands-swiper', {
      slidesPerView: 3,
      spaceBetween: 20,
      loop: false,
      pagination: {
        el: '#swiper-pagination-brand',
        clickable: true
      },
      navigation: {
        nextEl: '#swiper-button-next-brand',
        prevEl: '#swiper-button-prev-brand'
      },
      breakpoints: {
        1280: {
          slidesPerView: 8
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Featured Brands",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Brands"
    },
    {
      "type": "color",
      "id": "active_dot_color",
      "label": "Active Dot Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Brand Logo"
        },
        {
          "type": "text",
          "id": "brand_name",
          "label": "Brand Name"
        },
        {
          "type": "url",
          "id": "brand_link",
          "label": "Brand Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Brands",
      "blocks": [
        {
          "type": "brand"
        },
        {
          "type": "brand"
        },
        {
          "type": "brand"
        }
      ]
    }
  ]
}
{% endschema %}
