<div class="twcss-container twcss-mx-auto twcss-px-5">
  {%- for block in section.blocks -%}
    <div
      class="twcss-flex-1 twcss-bg-[#EEF5FF] twcss-rounded-2xl twcss-p-6 twcss-flex twcss-items-start twcss-gap-4 twcss-px-5 twcss-py-8 twcss-gap-x-5"
      {{ block.shopify_attributes }}
    >
      {%- if block.settings.icon != blank -%}
        <div class="twcss-flex-shrink-0">
          <img
            height="100%"
            width="100%"
            src="{{ block.settings.icon | img_url: '100x' }}"
            alt="{{ block.settings.heading | escape }}"
            class=""
            loading="lazy"
          >
        </div>
      {%- endif -%}
      <div class="twcss-flex twcss-flex-col twcss-gap-y-[10px]">
        {%- if block.settings.heading != blank -%}
          <div class="twcss-font-bold twcss-text-blue-700 twcss-mb-2 twcss-text-[18px] leading-[22px]">
            {{ block.settings.heading }}
          </div>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="twcss-text-gray-600 text-[14px]">
            {{ block.settings.text }}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Service Highlights",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "highlight",
      "name": "Service Highlight",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Service Highlight"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Describe your service highlight here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service Highlights",
      "blocks": [
        {
          "type": "highlight",
          "settings": {
            "heading": "Fast service",
            "text": "We understand your needs delivering your products within hours."
          }
        },
        {
          "type": "highlight",
          "settings": {
            "heading": "Payment Options",
            "text": "Seamless options designed to simplify and support your business growth."
          }
        },
        {
          "type": "highlight",
          "settings": {
            "heading": "Personalized Attention",
            "text": "We're here to address your questions and suggestions anytime."
          }
        }
      ]
    }
  ]
}
{% endschema %}
